body {
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
}

body > * {
    margin: 16px;
}

img {
    width: 100%;
}

.search_form{
    padding: 32px;
    background-image: url('./image/backgroundImg.png');
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: 12px;
}

input[type="search"] {
    width: 100%;
    font-family: 'Poppins_medium';
    padding-right: 30%;
    padding-block: 16px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    padding-inline-start: 16px;
    color: #dbdbdb;
    margin-block-start: 8px;
}

button[type="submit"] {
    font-family: 'Poppins_medium';
    margin-left: -80px;
    background-color: #1e86ff;
    color: black;
    border: 0;
    padding-inline: 16px;
    padding-block: 12px;
    border-radius: 5px;
    -webkit-appearance: none;
}

.job_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    column-gap: 16px;
    background-color: #ffffff;
    margin-block-start: 32px;
    border-radius: 10px;
    color: black;
}

.link_to_jobDetails{
    text-decoration: none;
}

.job_card > * {
    margin: 16px;
}

.job_card > img {
    width: 80%;
    grid-column: 1 / 2;
    border-radius: 12px;
}

.content {
    grid-column: 2 / 4;
}

.button {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 8px;
}

.location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-block-start: 16px;
    color: lightgray;
}

.location > span {
    margin-block-start: 16px;
    text-align: end;
}

.about_job_offer {
    margin-block-start: 24px;
}

.go_back {
    text-decoration: none;
}

.about_job_offer > p {
    margin-block-start: 32px;
}

.company {
    display: flex;
    margin-top: 32px;
}

.company > img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

.company_name {
    margin-inline-start: 32px;
}

.job_title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.job_title > div {
    grid-column: 1 / 3;
}

.job_title > h2 {
    margin: 0;
}

.job_title > button {
    grid-column: 3 / 4;
    width: 100px;
    height: 34px;
    margin-block-start: 24px;
}

.company_name > h3 {
    margin: 0;
}

.description {
    margin-block-start: 32px;
}

@media (min-width: 700px) {
    .main_components {
        display: flex;
    }

    .job_details{
        display: flex;
        margin-top: 400px;
        margin-inline-start: -108px;
    }

    .details{
        margin-inline-start: 48px;
    }

}
